@{
    ViewData["Title"] = "This is page shows VueJS components inside Razor.";
}

@section Styles{
    <link rel="stylesheet" href="/dist/main.css">
}

<h1>@ViewData["Title"]</h1>

<div id="app">
</div>

@section Scripts{
    <script src="/dist/main.js"></script>
}